<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ShopMapper" >
  <resultMap id="BaseResultMap" type="com.entity.Shop" >
    <id column="class_id" property="classId" jdbcType="INTEGER" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
    <result column="class_key" property="classKey" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="ondelect" property="ondelect" jdbcType="INTEGER" />
    <result column="images" property="images" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    class_id, class_name, class_key, level, ondelect, images
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shop_classify
    where class_id = #{classId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shop_classify
    where class_id = #{classId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Shop" >
    insert into shop_classify (class_id, class_name, class_key, 
      level, ondelect, images
      )
    values (#{classId,jdbcType=INTEGER}, #{className,jdbcType=VARCHAR}, #{classKey,jdbcType=INTEGER}, 
      #{level,jdbcType=INTEGER}, #{ondelect,jdbcType=INTEGER}, #{images,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Shop" >
    insert into shop_classify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="classId != null" >
        class_id,
      </if>
      <if test="className != null" >
        class_name,
      </if>
      <if test="classKey != null" >
        class_key,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="ondelect != null" >
        ondelect,
      </if>
      <if test="images != null" >
        images,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="classId != null" >
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="classKey != null" >
        #{classKey,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="ondelect != null" >
        #{ondelect,jdbcType=INTEGER},
      </if>
      <if test="images != null" >
        #{images,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Shop" >
    update shop_classify
    <set >
      <if test="className != null" >
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="classKey != null" >
        class_key = #{classKey,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="ondelect != null" >
        ondelect = #{ondelect,jdbcType=INTEGER},
      </if>
      <if test="images != null" >
        images = #{images,jdbcType=VARCHAR},
      </if>
    </set>
    where class_id = #{classId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Shop" >
    update shop_classify
    set class_name = #{className,jdbcType=VARCHAR},
      class_key = #{classKey,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      ondelect = #{ondelect,jdbcType=INTEGER},
      images = #{images,jdbcType=VARCHAR}
    where class_id = #{classId,jdbcType=INTEGER}
  </update>
</mapper>